@model MyTournaments.Tournament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrizeFund)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrizeFund)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.Name)
        </dd>
        </dl>
</div>
<div>
    <button class="menubuttons backtolist-button" onclick="location.href='javascript:history.go(-1)'">Back to List</button>
</div>
