@model IEnumerable<MyTournaments.Game>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>


<p>
    <button class="menubuttons crete-button" onclick="location.href = '@Url.Action("Create", "Games")'">Create New</button>
    <button class="menubuttons back-button" onclick="location.href = '@Url.Action("Index", "Home")'">Back</button>
    <a target="_blank" class="export_button" href='@Url.Action("ViewExport", "Games")'>Export</a>
    @if (User.IsInRole("admin"))
    {
        <button style="background-color:transparent; float:right; border:0px; padding:0px;">
            @using (Html.BeginForm("Import", "Teams", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
            {
                <input style="color:black; border-color:white; border: 2px solid transparent; border-radius:10px;" type="file" name="fileExcel" id="fileExcel" />
                <input type="submit" style="color:black; border-color:white;margin-right:5px; border: 2px solid transparent; border-radius:10px;" value="Завантажити" />
            }
        </button>
    }
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <button class="menubuttons others-button" onclick="location.href = '@Url.Action("Details", "Games", new { id = item.Id })'">Teams</button>
                    <button class="menubuttons others-button" onclick="location.href = '@Url.Action("Index", "TournamentGames", new { id = item.Id, name = item.Name })'">Tournaments</button>
                    <button class="menubuttons edit-button" onclick="location.href = '@Url.Action("Edit", "Games", new { id = item.Id })'">Edit</button>
                    <button class="menubuttons delete-button" onclick="location.href = '@Url.Action("Delete", "Games", new { id = item.Id })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>